/*
 * Typeahead
 */
.typeahead-header {
    font-size: 17px;
    padding: 15px;
    color: #FFF;
    width: 100%;
    background-color: #03658C;
}

.Typeahead {
    position: relative;
    *z-index: 1;
    width: 100%;
    margin: 50px auto 0 auto;
    padding: 15px;
    text-align: left;
    background-color: #0097cf;
    background-image: -moz-linear-gradient(top, #04a2dd, #03739c);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#04a2dd), to(#03739c));
    background-image: -webkit-linear-gradient(top, #04a2dd, #03739c);
    background-image: -o-linear-gradient(top, #04a2dd, #03739c);
    background-image: linear-gradient(top, #04a2dd, #03739c);
    background-repeat: repeat-x;
    border: 1px solid #024e6a;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 2px #111;
    -moz-box-shadow: 0 0 2px #111;
    box-shadow: 0 0 2px #111;
}

.Typeahead-spinner {
    position: absolute;
    top: 7px;
    right: 7px;
    display: none;
    width: 28px;
    height: 28px;
}

.Typeahead-hint,
.Typeahead-input {
    width: 100%;
    padding: 5px 8px;
    font-size: 24px;
    line-height: 30px;
    border: 1px solid #024e6a;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.Typeahead-hint {
    position: absolute;
    top: 0;
    left: 0;
    color: #ccd6dd;
    opacity: 1;
}

.Typeahead-input {
    position: relative;
    background-color: transparent;
    background-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
    outline: none;
}

.Typeahead-menu {
    position: absolute;
    z-index: 100;
    display: none;
    width: 100%;
    margin-bottom: 20px;
    margin-top: -10px;
    overflow: hidden;
    background-color: #fff;
    border-top: 14px solid #023859;
    -webkit-border-radius: 0px 0px 8px 8px;
    -moz-border-radius: 0px 0px 8px 8px;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0px 0px 0px 1px green;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.Typeahead-menu.is-open {
    display: block;
}

.Typeahead-selectable {
    cursor: pointer;
}

.Typeahead-selectable + .Typeahead-selectable {
    border-top: 1px solid #ccd6dd;
}

/* ProfileCard */

.ProfileCard {
    position: relative;
    padding: 8px 8px 8px 15px;
}

.ProfileCard-avatar {
    position: absolute;
    top: 8px;
    left: 15px;
    width: 52px;
    height: 52px;
    border: 2px solid #ccd6dd;
    border-radius: 5px;
}

.ProfileCard:hover .ProfileCard-avatar {
    border-color: #f5f8fa;
}

.ProfileCard-details {
    min-height: 60px;
    padding-left: 60px;
}

.ProfileCard-itemName,
.ProfileCard-rarityName {
    display: inline-block;
}

.ProfileCard-realName {
    font-weight: 700;
}

.ProfileCard-rarityName {
    color: #8899a6;
}

.ProfileCard-description {
    margin-top: 5px;
    font-size: 14px;
    line-height: 18px;
    color: #8899a6;
}

.ProfileCard-stats {
    float: right;
    text-align: right;
}

.ProfileCard-stat {
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
}

.ProfileCard-stat-label {
    color: #8899a6;
    font-weight: 500;
}

.ProfileCard-stat + .ProfileCard-stat {
    margin-left: 5px;
}

.ProfileCard:hover,
.ProfileCard.is-active {
    color: #fff;
    background: #049dbf;
}

.ProfileCard:hover .ProfileCard-screenName,
.ProfileCard:hover .ProfileCard-stat-label,
.ProfileCard.is-active .ProfileCard-screenName,
.ProfileCard.is-active .ProfileCard-stat-label {
    color: #fff;
}

/* EmptyMessage */

.EmptyMessage {
    position: relative;
    padding: 10px;
    font-size: 24px;
    line-height: 30px;
    text-align: center;

}